<h1>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.00</h1>
<h2>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.01</h2>
<h2>>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.02</h2>
<h2>>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.03</h2>
<h3>>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.04</h3>
<h3>>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.05</h3>

<h1>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.06</h1>
<h2>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.07</h2>
<h3>Gestión de flujo CI/CD mediante ‘GitHub Actions’ de una aplicación Web V0.08</h3>
